<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>a</string>
	<key>NSDesktopFolderUsageDescription</key>
	<string>b</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>c</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>d</string>
	<key>NSFileProviderPresenceUsageDescription</key>
	<string>e</string>
</dict>
</plist>
